html, body {
    margin: 0;
}
.container-fluid {
    font-family: 'Acme', sans-serif;
    margin: 0;
    padding: 0 !important ;
}
header {
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: url('./Images/n1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

#title-text {
    font-family: 'Carter One', cursive;
    text-align: center;
    letter-spacing: 5px;
    color: #e6e3efa6;
    /* color: rgba(84, 62, 142, 1); */
    font-size: 20px;
    margin: 3px;
}

#title-name {
    margin: 0;
    font-family: 'Squada One', cursive;
    letter-spacing: 3px;
    text-align: center;
    color: #62ce79ab;
    /* color: rgb(44, 11, 68); */
    font-size: 40px;
    margin: 15px;
}

#title-subtitle {
    font-family: 'Acme', sans-serif;
    text-align: center;
    /* color: rgba(84, 62, 142, 1); */
    color: #cbd0b2ad;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}
#title-profession {
    color: #4a9c60;
}

#main-content {
    padding: 15px;
}

#intro, #about-me , #skills, #projects, #contact-footer {
    margin-top: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.card .card-header {
    background-color: rgb(8, 8, 31);
    color: #ccc;
}
#intro .card-body {
    background-color: #fffef4;
    font-family: 'PT Sans', sans-serif;
}

/* Skills */

#skills-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.card.skill-item {
    background-color: #fffef4;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Projects */

#projects-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
#projects-list .project-item {
    font-family: 'Squada One', cursive;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    cursor: pointer;
    margin: 5px;
    max-width: 600px;
}
.project-link {
    margin-top: 5px;
}
span.linktext {
    color: indigo;
}
.project-item:hover {
    transform: scale(1.025);
}
.project-title {
    color: indigo;
}

/* footer */

footer.container-fluid {
    background: #112233;
    color: #ccc;
    /* font-family: 'Ubuntu', sans-serif; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#contact-title {
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
}
#contact-list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}
.contact-item {
    margin: 10px auto;
    width: 200px;
    text-align: center;
}
.contact-item .card {
    height: 232px;
}
.contact-item .card-title {
    color: #a0a2a5;
}
.contact-item .card-text {
    color: #0d233a;
}

.icon-round {
    margin: 0 auto;
    border-radius: 50% 50%;
    background: #0d233a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#copyright-text {
    color: #ffffff4a;
    text-align: center;
    margin-bottom: 10px;
}

/* Media Queries */

@media only screen and (min-width: 350px) and (max-width: 471px) {
    #skills-list {
        flex-direction: row;
        margin: auto;
        max-width: 300px;
    }
    .card.skill-item {
        width: 100px;
    }
}

@media only screen and (min-width: 472px) and (max-width: 744px) {
    #skills-list {
        flex-direction: row;
        margin: auto;
        max-width: 400px;
    }
    .card.skill-item {
        width: 100px;
    }
}

@media only screen and (min-width: 745px) {
    #skills-list {
        flex-direction: row;
        margin: auto;
        max-width: 100%;
    }
    .card.skill-item {
        width: 100px;
    }
}

@media only screen and (min-width: 701px) {
    #projects-list {
        flex-direction: row;
        /* margin: auto; */
        max-width: calc(100%);
    }
    .project-item {
        width: 48%;
        background: gray;
        border: 1px solid;
    }
}

@media only screen and (min-width: 650px) and (max-width: 900px) {
    #projects-list {
        flex-direction: row;
        /* margin: auto; */
        max-width: calc(100%);
    }
    .project-item {
        width: 48%;
    }
}

@media only screen and (max-width: 750px) {
    #contact-list {
        flex-direction: row;
        max-width: 600px;
        margin: 0px auto;
    }
    .contact-item {
        margin: 10px auto;
        width: 250px;
    }
}

@media only screen and (min-width: 751px) {
    #contact-list {
        flex-direction: row;
        min-width: 700px;
        justify-content: center;
        margin: 10px auto;
    }
    .contact-item {
        margin: 10px;
        width: 200px;
    }
}
/* 
@media only screen and (min-width: 1001px) {
    #contact-list {
        flex-direction: row;
        min-width: 1000px;
        justify-content: center;
        margin: 10px auto;
    }
    .contact-item {
        margin: 10px;
        width: 200px;
    }
} */